<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tremolo || Guitar e-learning</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/course.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
    <%- include('../header_login',{user_render}); %>
    <div class="body_wrapper">
      <%- include('course_aside',{user_render}); %>
        <main class="course_contents hidden_title">
          <span id="expand_aside"><img src="/images/expand_icon.png" alt="expand_icon" width="25" height="25"></span>
          <div class="content_area">
            <video src="<%=videoURL%>1-3.mp4" width="100%" height="auto" controls id="videoplay"></video>
            <h3>Module 1: Tuning Your Guitar</h3>
            <p>In this video, you will be covering the different ways you can tune your guitar.</p>
            <ul class="contentList">
              <li>Physical tuner</li>
              <li>Tuner smartphone app</li>
              <li>Tuning by ear</li>
            </ul>
            <form action="/progressCheck" method="POST" id="continueForm">
              <label for="6.25"></label>
              <input type="hidden" value="6.25" name="percentProgress">
              <label for="1"></label>
              <input type="hidden" value="1" name="moduleNum">
              <label for="1"></label>
              <input type="hidden" value="4" name="subModuleNum">
              <label for="<%= user_render.id %>"></label>
              <input type="hidden" name="user_id" value="<%= user_render.id %>">

              <input type="submit" value="Check Completed" id="continueBtn">
            </form>
          </div>
        </main>
    </div>
    <script src="../js/course.js"></script>
</body>
</html>
