<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tremolo || Guitar e-learning</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  </head>
  <body>
    <%- include('header_login',{user_render}); %>
    <main class="account">
      <h2>Account Overview</h2>
      <section id="account_total">
        <article id="profile">
          <h3 class="account_items">Profile</h3>
          <div class="account_items">
            <form
              action="/change_pic"
              method="POST"
              enctype="multipart/form-data"
              class="user_photo_field"
            >
              <img
                src="user_photo/<% if(user_render.user_pic == 1){%><%= user_render._id%>%><%}else{%>default_pic<%}%>.jpg"
                alt="<%= user_render.name %>"
                width="100"
                height="100"
                class="user_photo_account"
              />
              <label for="file"></label>
              <input
                type="file"
                name="file"
                accept="image/*"
                id="file"
                required
              />
              <input
                type="hidden"
                name="user_num"
                value="<%= user_render._id %>"
              />
              <input type="submit" value="Update" />
            </form>
            <form action="/change_profile" method="POST" id="user_profile">
              <label for="userID"></label>
              <input
                type="text"
                name="userID"
                id="userID"
                value="<%= user_render.id %>"
              />
              <div id="userName">
                <label for="fname"></label>
                <input
                  type="text"
                  name="fname"
                  id="fname"
                  value="<%=user_render.name.fname%>"
                />
                <label for="lname"></label>
                <input
                  type="text"
                  name="lname"
                  id="lname"
                  value="<%=user_render.name.lname%>"
                />
              </div>
              <label for="email"></label>
              <input
                type="text"
                name="email"
                id="email"
                value="<%= user_render.email %>"
              />
              <label for="pwd"></label>
              <input type="text" name="pwd" id="pwd" value="*******">
              <!-- <input type="submit" value="Save Change"> -->
            </form>
          </div>
        </article>
        <article id="user_course">
          <h3 class="account_items">Course Info</h3>
          <div class="course_info">
            <div class="planBuy">
              <% if(user_render.plan == 0) {%>
                <article id="premium">
                  <h3>Free</h3>
                  <h4>$ 0</h4>
                  <ul>
                    <li>&#10003; 7 days Free</li>
                    <li>&#10003; Full Access</li>
                    <li></li>
                  </ul>
                  <a href="#">Change Plan</a>
                </article>
              <% } else if(user_render.plan == 1){%>
                <article id="premium">
                  <h3>Premium</h3>
                  <h4>$ 25</h4>
                  <ul>
                    <li>&#10003; 30 days Subscription</li>
                    <li>&#10003; Full Access</li>
                  </ul>
                  <a href="#">Change Plan</a>
                </article>
              <% } else if(user_render.plan == 2) {%>
                <article id="premium">
                  <h3>Pro</h3>
                  <h4>$ 45</h4>
                  <ul>
                    <li>&#10003; 90 days Subscription</li>
                    <li>&#10003; Full Access</li>
                    <li>&#10003; Mentoring</li>
                    <li></li>
                  </ul>
                  <a href="#">Change Plan</a>
                </article>
              <% } %>
            <!--  -->
            </div>
            <ul class="course_text_list">
              <li class="course_list_items">
                <span class="item_title">Current Module</span>
                <span>Module No. <%= user_render.course.currentM %> - <%= user_render.course.currentSubM %></span>
              </li>
              <li class="course_list_items">
                <span class="item_title" id="progress"><span>Progress</span><span><%= user_render.course.progress %>%</span></span>
                
                <div class="progress_bar">
                  <span class="meter" style="width:<%= user_render.course.progress %>%"></span>
                </div>
              </li>
              <li class="course_list_items">
                <span class="item_title">Plan Period</span>
                <span><%= user_render.planStart %> ~ <%= user_render.planEnd %></span>
              </li>
              <li class="course_list_items">
                <span class="item_title">Proficiency</span>
                <span id="db" style="display:none;"><%= user_render.course.currentM %></span>
                <span id="d2" style="display:none;"><%= user_render.course.currentSubM %></span>
                <span id="test1" style="display:none;"><%= user_render.course.testResult.m1 %></span>
                <span id="test2" style="display:none;"><%= user_render.course.testResult.m2 %></span>
                <span id="test3" style="display:none;"><%= user_render.course.testResult.m3 %></span>
                <span id="test4" style="display:none;"><%= user_render.course.testResult.m4 %></span>
                <% if(user_render.course.currentM == "2") {%>
                  <span id="proficiency"><%= user_render.course.testResult.m1 %>%</span>
                <% } else {%>
                  <span id="proficiency">0%</span>
                <% } %>
              </li>
              <% if(user_render.course.testResult.m4 > 60 && user_render.course.currentM == 4) {%>
                <li class="course_list_items certBtn"><a href="/certificate" id="certificateBtn">View Certificate</a></li>
              <% } %>
            </ul>
          </div>
        </article>
      </section>
    </main>
    <!-- <script src="js/main.js"></script> -->
    <script src="js/course.js"></script>
    <script>
      let testTaken = parseInt(document.getElementById('db').textContent);
      let test4Score = parseInt(document.getElementById('test4').textContent);
      let testresult = 0;
      if(testTaken == 3){
        testresult = (parseInt(test1.textContent)+parseInt(test2.textContent))/200*100
        proficiency.innerHTML = testresult+"%";
      } else if (testTaken == 4){
        testresult = (parseInt(test1.textContent)+parseInt(test2.textContent)+parseInt(test3.textContent))/300*100
        proficiency.innerHTML = testresult+"%";
      } else if(testTaken == 4 && test4Score > 1){
        testresult = (parseInt(test1.textContent)+parseInt(test2.textContent)+parseInt(test3.textContent)+parseInt(test4.value))/400*100
        proficiency.innerHTML = testresult+"%";
      }
    </script>

  </body>
</html>
